body{
    height: 100%;
    width: 100%;
    background-color: #333333;
    color: #8c8c8c;
    
    /*font-family: Arial, sans-serif;*/
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

@keyframes slide-from-top{
    from{
	top: -100%;
    }

    to{
	top: 12.5%;
    }    
}

.flex-wrapper{
    position: absolute;
    z-index: 3;
    width: 75%;
    height: 75%;

    top: 12.5%;
    left: 12.5%;

    animation-duration: 0.5s;
    animation-name: slide-from-top;
}


.labeled-input{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 7%;
    margin-bottom: 1%;
}


/* SETTINGS PANEL CSS */
.settings-wrapper{
    position: absolute;
    z-index: 3;
    width: 33%;
    height: 80%;
    top: 5%;
    /* where it should be if its visible */
    /* left: 67%; */
    left: 100%;

    /* Test settings */
    border-width: 2px;
    border-style: solid;
}


/* wanted to try to have a clickable circle for settings to pop out but it's 
not working */
.settings-circle{
    position: absolute;
    z-index: 3;
    background-color: orange;
    border-radius: 50%;
}

/* trying to set the width and height based on screen ratio, but its not working */
@media screen and (min-aspect-ratio: 1/1){
    .settings-circle{
	height: 5%;
	width: 5%;
    }
}

@media screen and (min-aspect-ratio: 16/9){
    .settings-circle{
	height: 8.88%;
	width: 4.5%
    }
}

@media screen and (min-aspect-ratio: 16/10){
    .settings-circle{
	height: 8%;
	width: 5%;
    }
}

@media screen and (min-aspect-ratio: 4/3){
    .settings-circle{
	height: 10%;
	width: 5%;
    }
}

/* END SETTINGS PANEL CSS */


.info-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 7%;
    margin-top: 2%;
    background-color: #FEAB19;
    color: black;
    margin-bottom: 2%;
}

.circle{
    display: flex;
    justify-content: center;
    font-size: calc(15px + .4vw);
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 40%;
    height: 50%;
    background-color: #007399;
    /* width and height can be anything, as long as they're equal */
}

.circle:hover{
    cursor: pointer;
    background-color: white;
    color: #007399;
}

.flex-centered{
    /* centered dialog at 50% width and 75% height */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center space-around;
    z-index: 3;

    background-color: #333333;
    
    height: 100%;
    
    border-width: 2px;
    border-style: solid;
}

.generic-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #333333;
}

.register-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    border-style: none;
    border-right: solid;
}

.login-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    border-style: none;
}

.user-message{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: absolute;
    color: black;
    z-index: 1;
    top: -5%;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #FEAB19;
}

#tag-remove-message{
    content: 'X';
    color: black;
    font-weight: 300;
    cursor: pointer;
}

#tag-remove-message:hover{
    background-color: #e49101;
}

div{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    color: white;
    background-color: inherit;
}

.center-horiz{
    text-align: center;
}


.bottom-flex{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: 1;
    min-height: 25%;

    /* webkit-padding overwrites chromes padding, seems they have a different height */
    padding-bottom: 5%;
    -webkit-padding-after: 15%;

    
}

input[type="submit"]{
    font-size: calc(12px + .3vw);
    /* background-color: #00ace6;*/
    background-color: #007399;
    color: white;
    border-style: none;
    width: calc(100px + 5vw);
    height: calc(30px + 1vh);
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover{
    background-color: #004799;
}

.input-default{
    position: relative;
    width: 90%;
    height: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.body-container{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.margin-left5{
    margin-left: 5%;
}

.right{
    text-align: right;
    padding-right: 1%;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    filter: invert(50%);
}

.inverted {
    filter: invert(80%);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
}

.content-container{
    display: flex;
    height: 95%;
    width: 100%;    
}

.message-area{
    display: flex;
    background-color: #404040;
    border-top: solid;
    flex-direction: column;
    width: 100%;

    flex-grow: 2;
    flex-basis: 0%;

    /* all below items have min-height: 1px to fix a firefox bug, its not fixing it though */
    min-height: 0px;
    min-width: 0px;
}

.message-wrapper{
    /* This wrapper was written to fix the bug that firefox has with
       not allowing flexboxes to scroll. Took way too long to figure out. Fix your stuff firefox
   */
    display: flex;
    flex-grow: 2;
    flex-basis: 0%;
    
    flex-direction: column;

    overflow: auto;

    min-height: 0px;
    min-width: 0px;
}

#submit-message{
    margin-top: 15%;
    width: 45%;
    height: 45%:
}

.messages{
    /* firefox is bugged for scrolling flexboxes, DONT ADD OVERFLOW HERE! */
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-direction: column-reverse;
    padding: 3%;
    height: 90%;
    width: 100%;
}

.message{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding-bottom:1%;
}

.message-header{
    display: flex;
}

.message-user{
    display: flex;
    font-size: calc(12px + .4vw);
    color: #00ace6;
}

.message-time{
    font-size: calc(12px + .3vw);
    padding-left: 1%;
    color: #007399;
    bottom: 0;
}

.message-content{
    color: white;
    font-size: calc(12px + .3vw);
    flex-shrink: 0;
}

.header-main{
    font-weight: bold;
    font-size: calc(15px + .3vw);
    color: white;
    /*color: #32a2f7;*/
}

.send-message-area{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.message-input{
    width: 70%;
    height: 50%;
}

.private-messages{
    width: 25%;
    height: 50%;
    border-width: 1px;
    border-style: solid;
}

/*************** channel jazz *************/

.channel-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    border-width: 2px;
    border-top: solid;
    border-right: solid;
    height: 100%;
    width: 15%;
    min-width: 200px;
}

.channel{
    display: flex;
    flex-direction: column;
    background-color: #333333;
}

.channel-header{
    cursor: pointer;
    color: white;
    font-size: calc(12px + .6vw);
}

.channel-header:hover{
    background-color: #007399;
}

.channel-user{
    color: #007399;
    font-size: calc(12px + .4vw);
    margin-left: 10%;
}


/*************** end channel jazz **********/
#register_user{
   /* background: url(glyphicons/glyphicons-541-hourglass.png);*/
    background-repeat: no-repeat;
    background-position: right;
    background-color: #404040;
    border: 0px solid red;

    /*color: #bfbfbf;
    border-style: none;
    border-width: 1px;*/
}

input[type="text"], input[type="password"], textarea {
    box-sizing: border-box;
    background-color: #404040;
    color: #bfbfbf;
    border-style: none;
    border-width: 1px;
    position: relative;
    width: 90%;
}

input[type="text"]:focus, input[type="password"]:focus{
			      border-width: 1px;
			      border: 1px solid #007399;
			      color: white;
			      box-shadow: 0 0 5px;
			  }

.message-input > input[type="text"]{
    background: url(/static/glyphicons/glyphicons-11-envelope.png);
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-color: #404040;
    border: 1px solid gray;
    height: 100%;
    width: 100%;
}

.slider_wrapper{
    position: relative;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.labeled-input > input[type="text"]{
    height: 90%;
}

.abs-container{
    position: absolute;
    left: -7%;
    top: 1%;
}

.label{
    font-size: calc(8px + .5vw);
    width: 40%;
}

.row5{
    width: 5%;
}

.row10{
    width: 10%;
}

.row15{
    width: 15%;
}

.row85{
    width: 85%;
}

.row90{
    width: 90%;
}

.row95{
    width: 95%;
}

.col5{
    height: 5%;
}

.col20{
    height: 20%;
}

.col25{
    height: 25%;
}

.col30{
    height: 30%;
}

.col35{
    height: 35%;
}

.col40{
    height: 40%;
}

.col45{
    height: 45%;
}

.col50{
    height: 50%;
}

.col55{
    height: 55%;
}

.col60{
    height: 60%;
}

.col65{
    height: 65%;
}

.col70{
    height: 70%;
}

.col75{
    height: 75%;
}

.col80{
    height: 80%;
}

.col85{
    height: 85%;
}

.col90{
    height: 90%;
}

.col95{
    height: 95%;
}

.col100{
    height: 100%;
}

