body{
    height: 100%;
    width: 100%;
    background-color: #333333;
    color: #8c8c8c;
    
    /*font-family: Arial, sans-serif;*/
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

@keyframes slide-from-top{
    from{
	top: -100%;
    }

    to{
	top: 20%;
    }    
}

@media screen and (min-width: 640px){
    @keyframes slide-from-top{
	from{
	    top: -100%;
	}

	to{
	    top: 30%;
	}
    }
}

@media screen and (min-width: 1080px){
    @keyframes slide-from-top{
	from{
	    top: -100%;
	}

	to{
	    top: 25%;
	}
    }
}

.flex-wrapper{
    position: absolute;
    z-index: 3;
    width: 90%;
    height: 75%;

    top: 20%;
    left: 5%;

    animation-duration: 0.5s;
    animation-name: slide-from-top;
}

@media screen and (min-width: 640px){
    .flex-wrapper{
	height: 55%;
	top: 30%;
    }
}

@media screen and (min-width: 1080px){
    .flex-wrapper{
	height: 65%;
	top: 25%;
    }
}

.labeled-input{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 7%;
    margin-bottom: 1%;
}

@media screen and (min-width: 640px){
    .labeled-input{
	flex-direction: row;	
    }
}


/* SETTINGS PANEL CSS */
.settings-wrapper{
    position: absolute;
    z-index: 3;
    width: 80%;
    height: 80%;
    top: 5%;
    /* where it should be if its visible */
    /* left: 50%; */
    left: 100%;

    /* Test settings */
    border-width: 2px;
    border-style: solid;
}

@media screen and (min-width: 640px){
    .settings-wrapper{
	width: 50%;
    }
}



.info-message{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 7%;
    margin-top: 2%;
    background-color: #FEAB19;
    color: black;
    margin-bottom: 2%;
}

.circle{
    display: flex;
    justify-content: center;
    font-size: calc(15px + .4vw);
    align-items: center;
    color: white;
    border-radius: 50%;
    width: 40%;
    height: 50%;
    background-color: #007399;
    /* width and height can be anything, as long as they're equal */
}

.circle:hover{
    cursor: pointer;
    background-color: white;
    color: #007399;
}

.flex-centered{
    /* centered dialog at 50% width and 75% height */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center space-around;
    z-index: 3;

    background-color: #333333;
    
    height: 100%;
    
    border-width: 2px;
    border-style: solid;
}

.generic-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #333333;
}

.register-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-style: none;
}

#register_message {
    border-radius: 3px;
}

#login_message {
    border-radius: 3px;
}

.login-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-style: none;
}

@media screen and (min-width: 640px){
    .flex-centered{
	flex-direction: row;
    }
    
    .register-panel{
	width: 50%;
	border-right: solid;
    }
    .login-panel{
	width: 50%;
    }
}

.user-message{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    position: absolute;
    color: black;
    z-index: 1;
    top: -10%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #FEAB19;
}

@media screen and (min-width: 640px){
    .user-message{
	height: 5%;
    }
}

#tag-remove-message{
    content: 'X';
    color: black;
    font-weight: 300;
    cursor: pointer;
}

#tag-remove-message:hover{
    background-color: #e49101;
}

div{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    color: white;
    background-color: inherit;
}

.center-horiz{
    text-align: center;
}


.bottom-flex{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: 1;
    min-height: 25%;

    /* webkit-padding overwrites chromes padding, seems they have a different height */
    padding-bottom: 5%;    
}

@media screen and (min-width: 640px){
    .bottom-flex{
	-webkit-padding-after: 15%;
    }
}

input[type="submit"]{
    font-size: calc(12px + .3vw);
    /* background-color: #00ace6;*/

    background-color: #007399;
    color: white;
    border-style: none;
    border-radius: 3px;
    width: calc(40px + 10vw);
    height: calc(10px + 3vh);
    cursor: pointer;
    box-sizing: border-box;
}

input[type="submit"]:hover{
    background-color: #004799;
}

.input-default{
    position: relative;

    width: calc(50px + 10vw);
    height: calc(30px + 3vh);

    margin-top: 2%;
    margin-bottom: 2%;

    padding: 10px;
    
    border-radius: 3px;
}

.body-container{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.margin-left5{
    margin-left: 5%;
}

.right{
    text-align: right;
    padding-right: 1%;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    filter: invert(50%);
}

.inverted {
    filter: invert(80%);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    padding-right: 3%;
    padding-left: 1%;
    width: 100%;
}

/*************** channel jazz *************/

.channel-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    border-width: 2px;
    border-top: solid;
    border-right: solid;
    height: 50;
    width: 100%;
    min-width: 125px;
}

.server-header-main{
    font-size: calc(13px + .7vw);
    color: white;
}

.channel{
    display: flex;
    flex-direction: column;
    background-color: #333333;
}

.channel-header{
    cursor: pointer;
    color: #a4a6a8;
    font-size: calc(14px + .5vw + .5vh);
}

.channel-header:hover{
    background-color: #007399;
}

.channel-user{
    color: #007399;
    font-size: calc(14px + .4vw  + .4vh);
    margin-left: 10%;
}

.channel-user:hover{
    background: black;
    color: white;
    cursor: pointer;
}



/*************** end channel jazz **********/


.content-container{
    display: flex;
    flex-direction: column-reverse;
    height: 95%;
    width: 100%;    
}


@media screen and (min-width: 640px){
    .content-container{
	flex-direction: row;
    }

    .channel-wrapper{
	width: 25%;
	height: 100%;
    }

    .channel-user{
	font-size: calc(8px + .4vw + .4vh);
    }

    .channel-header{
	font-size: calc(8px + .5vw + .5vh);
    }

}

@media screen and (min-width: 1468px){
    .channel-wrapper{
	width: 15%;
    }
}

.message-area{
    display: flex;
    background-color: #404040;
    border-top: solid;
    flex-direction: column;
    width: 100%;

    flex-grow: 2;
    flex-basis: 0%;

    /* all below items have min-height: 1px to fix a firefox bug, its not fixing it though */
    min-height: 0px;
    min-width: 0px;
}

.message-wrapper{
    /* This wrapper was written to fix the bug that firefox has with
       not allowing flexboxes to scroll. Took way too long to figure out. Fix your stuff firefox
   */
    display: flex;
    flex-grow: 2;
    flex-basis: 0%;
    
    flex-direction: column;

    overflow: auto;

    min-height: 0px;
    min-width: 0px;
}

#submit-message{
    margin-top: 15%;
    width: 45%;
    height: 45%:
}

.messages{
    /* firefox is bugged for scrolling flexboxes, DONT ADD OVERFLOW HERE! */
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 3%;
    height: 90%;
    width: 100%;
}

.message{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding-bottom:1%;
}

.message-header{
    display: flex;
    width: 100%;
}

.message-user{
    display: flex;
    font-size: calc(12px + .4vw + .4vh);
    color: #00ace6;
}

.message-time{
    font-size: calc(12px + .3vw + .3vh);
    padding-left: 1%;
    width: 80%;
    color: #007399;
    bottom: 0;
}

.message-content{
    color: white;
    font-size: calc(12px + .3vw + .3vh);
    flex-shrink: 0;
}

.header-main{
    font-weight: bold;
    font-size: calc(15px + .3vw + .3vh);
    color: white;
    /*color: #32a2f7;*/
}

a{
    color: White;
}

.send-message-area{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.message-input{
    width: 70%;
    height: 50%;
}

/*******************************************/
/*                   private messages ******/
/*******************************************/

.private-messages{
    /* Default value */
    display: flex;

    /* changed with javascript later */
    display: none;
    flex-direction: row;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 89%;
    height: 50.5%;
    color: #8c8c8c;

    border-style: solid;
    border-width: 1px;
}

@media screen and (min-width: 640px){
    .private-messages{
	left: 40%;
	width: 59%;
    }
}

.private-message-users{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 35%;
    background-color: #333333;

    border-color: LightGray;
    border-right: solid;
    border-width: 1px;
}

#pm-cur-user{
    width: 80%;
    text-align: center;
}

#pm-send-message{
    visibility: hidden;
}

#exit-pms{
    width: 7%;
    height: 75%;
}

@media screen and (min-width: 1040px){
    #exit-pms{
	height: 85%;
	width: 5%;
    }

}


.private-message-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
    color: #00ace6;
    background-color: #333333;
    font-size: calc(12px + .2vw + .2vh);

    border-style: groove;
    border-width: 0px 0px 1px 0px;
    /*border-bottom: solid;
    border-width: 2px;*/
}

.pm-counter{
    color: red;
}



.private-message-users .private-message-user:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.pm-message-wrapper{
    /* This wrapper was written to fix the bug that firefox has with
       not allowing flexboxes to scroll. Took way too long to figure out. Fix your stuff firefox
   */
    display: flex;
    flex-grow: 2;
    flex-basis: 0%;
    height: 85%;
    
    flex-direction: column;

    overflow-y: scroll;

    min-height: 0px;
    min-width: 0px;
}

.private-message-messages{
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    flex-shrink: 0;

    background-color: #333333;
    height: 100%;
    min-height: 0;
}

.private-message-send-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #333333;
}

.private-messages-wrapper{
    position: relative;
    display: flex;
    width: 65%;
    flex-direction: column;    
    
    min-height: 0;
    min-widht: 0;
}

.private-message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50%;
    border-width: 1px;
    border-style: solid;
    color: #8c8c8c;
    background-color: #333333;
}

.pm-main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

#pm-counter{
    margin: 0;
    color: red;
}

.pm-main-header:hover{
    background-color: black;
    cursor: pointer;
}

.generic-header{
    display: relative;
    width: 90%;
    height: 10%;
    font-size: calc(12px + .2vw + .2vh);
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

.menu-item{
    position: absolute;
    display: flex;    
    flex-direction: column;
    align-items: center;		   
    width: 45%;
    background-color: Black;
    padding-bottom: 2%;
    padding-top: 2%;
}

.page-header{
    width: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: calc(30px + .5vw + .5vh);
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
}

.header-underlay{
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
    font-size: calc(10px + .5vw + .5vh);
    font-family: 'Cabin', sans-serif;
}

.menu-item-btn{
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #007399;
    color: white;
    font-size: calc(12px + .3vw);
    height: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

@media screen and (min-width: 640px){
    
    .menu-item{
	width: 35%;
    }
}

@media screen and (min-width: 840px){
    .menu-item{
	width: 25%;
    }
}

@media screen and (min-width: 1400px){
    .menu-item{
	width: 15%;
    }
}
.menu-item-btn:hover{
    background-color: #404040;
    cursor: pointer;
}


/****************************************************/
/***********     end private messages            ****/
/****************************************************/

#register_user{
   /* background: url(glyphicons/glyphicons-541-hourglass.png);*/
    background-repeat: no-repeat;
    background-position: right;
    background-color: #404040;
    border: 0px solid red;

    /*color: #bfbfbf;
    border-style: none;
    border-width: 1px;*/
}

input[type="text"], input[type="password"], textarea {
    box-sizing: border-box;
    background-color: #404040;
    color: #bfbfbf;
    font-size: calc(10px + .5vw);
    max-height: 10%;
    border-style: none;
    border-width: 1px;
    position: relative;
    width: 90%;
}

input[type="text"]:focus, input[type="password"]:focus{
			      border-width: 1px;
			      border: 1px solid #007399;
			      color: white;
			      box-shadow: 0 0 5px;
			  }

.message-input > input[type="text"],
.private-message-send-message > input[type="text"]{
    background: url(/static/glyphicons/glyphicons-11-envelope.png);
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-color: #404040;
    border: 1px solid gray;
    padding: 5px;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.slider_wrapper{
    position: relative;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.labeled-input > input[type="text"]{
    padding: 5px;
    height: 100%;
}

.abs-container{
    position: absolute;
    left: -25%;
    top: 1%;
}

.user-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center space-around;
    align-items: center;			  
    position: absolute;
    width: 75%;
    min-height: 20%;
    left: 12.5%;
    top: 33%;
    background-color: black;
    z-index: 1000;
}

.dialog-header{
    color: White;
    font-size: calc(16px + .5vw + .5vh);
    padding-top: 4%;
    padding-bottom: 4%;
}

.dialog-message{
    color: White;
    font-size: calc(13px + .4vw + .4vh);
    padding-bottom: 4%;
}

.notification-overlay{
    display: flex;
    justify-content: center;
    align-items: center;			  
    position: absolute;
    z-index: 999;
    top: 0;
    lefT: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 640px){
    .user-dialog{
	width: 70%;
	left: 15%;
    }
}


@media screen and (min-width: 640px){
    .abs-container{
	left: -15%;
    }
}


@media screen and (min-width: 1080px){
    .abs-container{
	left: -6%;
    }
}

.label{
    font-size: calc(12px + .5vw);
    width: 40%;
}




